body{
    background: #F4F4F4;
    margin: 0;
}
.link-title{
    text-decoration: none;
    font-size: 24px;
    color: #444444;
}
.page-heading{
    text-align: center;
    margin-bottom: 20px;
}
.container{
    width: 780px;
    margin:0 auto;
    background:#FFF;
    box-shadow: 0 9px 13px 5px;
}
.header{
    padding: 45px 0 20px 40px;
}
.menu{
    background: #3b7687;
    padding: 6px 0 6px 40px;
}
.menu a{
    color: #c5d6db;
    text-decoration: none;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
.menu a:hover{
    color: #ecf2f3
}
aside{
    float:left;
    width: 120px;
    padding: 30px 0 0 40px;
}
h1{
    margin: 0;
    color: #869843;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}
h2{
    color:#3b7687;
    font-size: 15px;
    margin: 20px 0 5px 0;
    text-align: left;
}
.main{
    margin: 0 0 0 180px;
    padding: 35px 40px 30px 0;
    color: #444444;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:13px;
    line-height: 18px;
    text-align:justify;
}

.main a:hover{
    color:#444444;
}
#home-image img {
    width: 100%;
}
footer{
    padding: 6px 40px  6px 40px;
    background: #d6d6d6;
    font-family:"Lucida Sans Unicode";
    color: #444444;
    font-size: 11px;
    text-decoration: right;
}
footer a{
    text-decoration: none;
    color:#262626;
}
.separator{
    color:#FFFFFF;
    font-size: 11px;
}
/**************************** About Page Styles **********************/
#about-page #home-image img {
    width: 70%;
    float: left;
    margin-bottom: 20px;
}
#about-page #profile-info{
    float: right;
    width: 20%;
    margin: 5px;

}
#about-page .description{
    clear: both;

}
/*********** Contact Page **************/
#contact #form{
    width: 500px;
    padding: 10px 10px 10px 10px;
    margin: 0 auto;
    box-shadow: 0 9px 13px 5px;
    border-radius: 5px;
}
#contact #form input{
    width: 100%;
    border-radius: 5px;
    height: 20px;
    background:#D6D6D6;
}
#contact #form #message{
    width: 100%;
    border-radius: 5px;
    background:#D6D6D6;
}
#contact #form #submit{
    background: rgb(59, 118, 135);
    height: 30px;
}
